<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="WebAppGeneralList.WebAppGeneralList" value="http://3.141.114.152/tutodu_service/WebAppGeneralList.asmx"/>
    <add key="WebAppCourseMaster.WebAppCourseMaster" value="http://3.141.114.152/tutodu_service/WebAppCourseMaster.asmx"/>
    <add key="WebAppRegistration.WebAppRegitation" value="http://3.141.114.152/tutodu_service/WebAppRegitation.asmx"/>
    <add key="WebAppLog.WebAppLog" value="http://3.141.114.152/tUTODU_SERVICE/WebAppLog.asmx"/>
    <add key="WebAppCourseAssign.WebAppCourseAssigining" value="http://3.141.114.152/tUTODU_SERVICE/WebAppCourseAssigining.asmx"/>
    <add key="WebAppUsers.WebAppusers" value="http://3.141.114.152/tUTODU_SERVICE/WebAppusers.asmx"/>
    <add key="WebAppEducation.WebAppEducation" value="http://3.141.114.152/tutodu_service/WebAppEducation.asmx"/>
    <add key="WebAppCommonGen.WebAppCommonGeneral" value="http://3.141.114.152/tutodu_service/WebAppCommonGeneral.asmx"/>
    <add key="WebAppMainMenu.WebAppmainmenu" value="http://3.141.114.152/tUTODU_SERVICE/WebAppmainmenu.asmx"/>
    <add key="WebAppExperience.WebAppExperienceDetails" value="http://3.141.114.152/tutodu_service/WebAppExperienceDetails.asmx"/>
    <add key="WebAppMainOrgMenu.WebAppmainOrgmenu" value="http://3.141.114.152/tUTODU_SERVICE/WebAppmainOrgmenu.asmx"/>
    <add key="WebAppOrgAssign.WebAppOrganizationAssigining" value="http://3.141.114.152/tUTODU_SERVICE/WebAppOrganizationAssigining.asmx"/>
    <add key="WebAppCourseSubMaster.WebAppCourseSubMaster" value="http://3.141.114.152/tutodu_service/WebAppCourseSubMaster.asmx"/>
    <add key="WebAppCourseWeek.WebAppCourseWeek" value="http://3.141.114.152/tutodu_service/WebAppCourseWeek.asmx"/>
    <add key="WebAppCourseChapter.WebAppCourseChapter" value="http://3.141.114.152/tutodu_service/WebAppCourseChapter.asmx"/>
    <add key="WebAppCourseModule.WebAppCourseModuleDetails" value="http://3.141.114.152/tutodu_service/WebAppCourseModuleDetails.asmx"/>
    <add key="WebAppExamMaster.WebAppCourseExamMaster" value="http://3.141.114.152/tutodu_service/WebAppCourseExamMaster.asmx"/>
    <add key="WebAppExamResult.WebAppCourseExamResult" value="http://3.141.114.152/tutodu_service/WebAppCourseExamResult.asmx"/>
    <add key="WebAppExamGrade.WebAppCourseExamGrading" value="http://3.141.114.152/tutodu_service/WebAppCourseExamGrading.asmx"/>
    <add key="WebAppExamQuestion.WebAppCourseExamQuestion" value="http://3.141.114.152/tutodu_service/WebAppCourseExamQuestion.asmx"/>
    <add key="WebAppStudentTutorReq.WebAppStudentTutorReq" value="http://3.141.114.152/tutodu_service/WebAppStudentTutorReq.asmx"/>
    <add key="WebAppCourseAttendance.WebAppCourseAttendance" value="http://3.141.114.152/tutodu_service/WebAppCourseAttendance.asmx"/>
    <add key="WebAppCourseLeaveRequest.WebAppCourseLeaveRequest" value="http://3.141.114.152/tutodu_service/WebAppCourseLeaveRequest.asmx"/>
    <add key="WebAppOrgGeneral.WebAppOrgizationGeneral" value="http://3.141.114.152/tutodu_service/WebAppOrgizationGeneral.asmx"/>
    <add key="WebAppPrivillegeMaster.WebAppPrivillegeMaster" value="http://3.141.114.152/tUTODU_SERVICE/WebAppPrivillegeMaster.asmx"/>
    <add key="WebAppUserPrivillege.WebAppUserPrivillege" value="http://3.141.114.152/tUTODU_SERVICE/WebAppUserPrivillege.asmx"/>
    <add key="WebAppOrgUserPrivillege.WebAppOrgUserPrivillege" value="http://3.141.114.152/tUTODU_SERVICE/WebAppOrgUserPrivillege.asmx"/>
    <add key="WebAppCourseModuleMark.WebAppCourseModulemark" value="http://3.141.114.152/tutodu_service/WebAppCourseModulemark.asmx"/>
    <add key="WebAppMenu.WebAppMenu" value="http://3.141.114.152/tutodu_service/WebAppMenu.asmx"/>
    <add key="WebAppCmsPage.WebAppCmsPage" value="http://3.141.114.152/tutODU_service/WebAppCmsPage.asmx"/>
    <add key="WebAppUserGroup.WebAppUserGroup" value="http://3.141.114.152/tutODU_service/WebAppUserGroup.asmx"/>
    <add key="WebAppMenuSettings.WebAppMenuSettings" value="http://3.141.114.152/tutODU_service/WebAppMenuSettings.asmx"/>
    <add key="WebAppCourseAssessment.WebAppCourseAssessment" value="http://3.141.114.152/tutodu_service/WebAppCourseAssessment.asmx"/>
    <add key="WebAppCourseNote.WebAppCourseNote" value="http://3.141.114.152/tutodu_service/WebAppCourseNote.asmx"/>
    <add key="WebAppCourseAnnoucement.WebAppCourseAnnoucement" value="http://3.141.114.152/tutodu_service/WebAppCourseAnnoucement.asmx"/>
    <add key="WebAppCourseGradeMaster.WebAppCourseGradeMaster" value="http://3.141.114.152/tutodu_service/WebAppCourseGradeMaster.asmx"/>
    <add key="WebAppWebService.WebAppWebService" value="http://3.141.114.152/tutodu_service/WebAppWebService.asmx"/>
    <add key="WebAppCourseCalender.WebAppCourseCalender" value="http://3.141.114.152/tutodu_service/WebAppCourseCalender.asmx"/>
    <add key="WebAppCourseCertificate.WebAppCourseCertificate" value="http://3.141.114.152/tutodu_service/WebAppCourseCertificate.asmx"/>
    <add key="WebAppCourseCertificateAssign.WebAppCourseCertificateAssign" value="http://3.141.114.152/tutodu_service/WebAppCourseCertificateAssign.asmx"/>
    <add key="WebAppCourseLibraryMaster.WebAppCourseLibraryMaster" value="http://3.141.114.152/tutodu_service/WebAppCourseLibraryMaster.asmx"/>
    <add key="WebAppCmsOrgPage.WebAppCmsOrgPage" value="http://3.141.114.152/tutodu_service/WebAppCmsOrgPage.asmx"/>
    <add key="WebAppCourseForumDeatils.WebAppCourseForumDeatils" value="http://3.141.114.152/tutodu_service/WebAppCourseForumDeatils.asmx"/>
    <add key="WebAppCourseModuleCompletion.WebAppCourseModuleCompletion" value="http://3.141.114.152/tutodu_service/WebAppCourseModuleCompletion.asmx"/>
  <add key="WebAppNotification.WebAppNotification" value="http://3.141.114.152/tutodu_service/WebAppNotification.asmx"/>
  </appSettings>
</configuration>